## Words

In [39]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [40]:
# your code here
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [41]:
# your code here
list_5 = []
for word in words:
    if len(word)>=5:
        list_5.append(word)
list_5

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [42]:
# your code here
for word in words:
    if (word[0].lower()=="t"):
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [43]:
# your code here
list_squares = []
for i in range(1,11):
    list_squares.append(i*i)
list_squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [44]:
# your code here
list_squares_odd = []
for i in range(1,11):
    if (i % 2 == 0):
        list_squares_odd.append(i*i)
list_squares_odd

[4, 16, 36, 64, 100]

**Create a list with the squares of all multiples of 8 below 1000**

In [45]:
# your code here
list_squares_8 = []
for i in range(1000):
    if (i % 8 == 0):
        list_squares_8.append(i*i)
list_squares_8

[0,
 64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064]

## People

In [114]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [83]:
# your code here
len(people)

5

**How many people have kids**?

In [84]:
# your code here
counter = 0
for person in people: 
    if (person["n_kids"]>0):
        counter+=1
print(counter)

4

**How many kids do they have in total?**

In [85]:
# your code here
total_kids = 0
for person in people: 
        total_kids += person["n_kids"]
print(total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a dictionary with people's info in a year's time**

In [115]:
# your code here
#Solution 1
list_dict_new = []

for person in people: 
        if (person["name"][-1].lower()=='a'):
            person["n_kids"] += 1
        person["age"] = person["age"] +1
        list_dict_new.append(person)
print(list_dict_new)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]

In [116]:
# your code here
# Solution 2
# In this solution the age is +2 and the kids for the people with an ending "a" is +2 as well 
#because actually is the second execution fo the code.
dict_new = dict()
list_names = []
list_ages = []
list_n_kids = []
for person in people:
    for k,v in person.items():
        if k == "name":
            list_names.append(v)
        elif k == "age":
            list_ages.append(v+1)
        elif k == "n_kids":
            if (person["name"][-1].lower()=='a'):
                list_n_kids.append(v+1)
            else:
                list_n_kids.append(v)
dict_new = {
    "nombre": list_names,
    "ages " : list_ages,
    "n_kids" : list_n_kids
    
}

print(dict_new)

{'nombre': ['Juan', 'Pepe', 'Sonia', 'Lucía', 'Leo'], 'ages ': [36, 29, 43, 24, 57], 'n_kids': [2, 0, 3, 4, 5]}

BONUS: create a dictionary people_ages = {"Juan": 35, ...}

In [120]:
dict_ages = dict()
for person in people:
    name = ""
    age = 0
    for k,v in person.items():
        if k=="name":
            name = v
        if k == "age":
            age = v
    dict_ages[name] = age
print(dict_ages)

{'Juan': 35, 'Pepe': 28, 'Sonia': 42, 'Lucía': 23, 'Leo': 56}

BONUS 2 exercise: If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000.

In [91]:
list_multiples = []
for i in range(1000):
    if (i % 3 == 0) or (i % 5 == 0):
        list_multiples.append(i)

print(sum(list_multiples))

233168