## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [6]:
# your code here
words_upper = [x.upper() for x in words]
print(words_upper)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [8]:
# your code here
words_5_letters = [x for x in words if len(x) >= 5]
print(words_5_letters)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [12]:
# your code here
word_t = [x for x in words if x.startswith('t')]
print(word_t.pop(0))

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [17]:
# your code here
square = [ x ** 2 for x in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [20]:
# your code here
odd_square = [ x ** 2 for x in range(1,11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [23]:
# your code here
multiple_8 = [ x for x in range(1000) if x % 8 == 0 and x != 0]
print(multiple_8)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

## People

In [ ]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [123]:
# your code here
print(len(people))

5

**How many people have kids**?

In [124]:
# your code here
ppl_w_kids = [x for x in people if x['n_kids'] != 0]
print(len(ppl_w_kids))

4

**How many kids do they have in total?**

In [125]:
# your code here
kids_total = sum([x['n_kids'] for x in people if x['n_kids'] != 0])
print(kids_total)

10

**In a year's time, names ending with "a" will have an extra kid. Create a dictionary with people's info in a year's time**

In [ ]:
# your code here
for person in people:
    if person['name'].endswith('a'):
        person['n_kids'] = person['n_kids'] + 1
        person['age'] = person['age'] + 1 
    else:
        person['age'] = person['age'] + 1 
print(people)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]