## Words

In [3]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [6]:
for i in words:
    print(i.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [10]:
word_1 = list()
for i in words:
    if len(i) >=5:
        word_1.append(i)
print(word_1)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [13]:
for i in words:
    if i[0] == "t":
        print(i)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [15]:
import math

In [25]:
num_list = list()
i = 1
while i < 11  :
    num_list.append(math.pow(i,2))
    i= i+1
print(num_list)

[1.0, 4.0, 9.0, 16.0, 25.0, 36.0, 49.0, 64.0, 81.0, 100.0]

**Print a list containing the square of every odd number from 1 to 10**

In [29]:
num_list_impares = list()
i = 1
while i < 11:
    if i % 2 != 0:
        num_list_impares.append(math.pow(i,2))
    i= i+1
print(num_list_impares)

[1.0, 9.0, 25.0, 49.0, 81.0]

**Create a list with the squares of all multiples of 8 below 1000**

In [38]:
num_mult8_list = list()
i = 8
limite = 1000
while i < limite:
    num_mult8_list.append(math.pow(i,2)) 
    i= i+8
print(num_mult8_list)

[64.0, 256.0, 576.0, 1024.0, 1600.0, 2304.0, 3136.0, 4096.0, 5184.0, 6400.0, 7744.0, 9216.0, 10816.0, 12544.0, 14400.0, 16384.0, 18496.0, 20736.0, 23104.0, 25600.0, 28224.0, 30976.0, 33856.0, 36864.0, 40000.0, 43264.0, 46656.0, 50176.0, 53824.0, 57600.0, 61504.0, 65536.0, 69696.0, 73984.0, 78400.0, 82944.0, 87616.0, 92416.0, 97344.0, 102400.0, 107584.0, 112896.0, 118336.0, 123904.0, 129600.0, 135424.0, 141376.0, 147456.0, 153664.0, 160000.0, 166464.0, 173056.0, 179776.0, 186624.0, 193600.0, 200704.0, 207936.0, 215296.0, 222784.0, 230400.0, 238144.0, 246016.0, 254016.0, 262144.0, 270400.0, 278784.0, 287296.0, 295936.0, 304704.0, 313600.0, 322624.0, 331776.0, 341056.0, 350464.0, 360000.0, 369664.0, 379456.0, 389376.0, 399424.0, 409600.0, 419904.0, 430336.0, 440896.0, 451584.0, 462400.0, 473344.0, 484416.0, 495616.0, 506944.0, 518400.0, 529984.0, 541696.0, 553536.0, 565504.0, 577600.0, 589824.0, 602176.0, 614656.0, 627264.0, 640000.0, 652864.0, 665856.0, 678976.0, 692224.0, 705600.0, 719104.0, 732736.0, 746496.0, 760384.0, 774400.0, 788544.0, 802816.0, 817216.0, 831744.0, 846400.0, 861184.0, 876096.0, 891136.0, 906304.0, 921600.0, 937024.0, 952576.0, 968256.0, 984064.0]

## People

In [39]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [43]:
print(len(people))

5

**How many people have kids**?

In [45]:
personas_con_hijos = 0
for i in people:
       if i['n_kids'] != 0:
            personas_con_hijos = personas_con_hijos + 1
print(personas_con_hijos)

4

**How many kids do they have in total?**

In [46]:
total_hijos = 0
for i in people:
       if i['n_kids'] != 0:
            total_hijos = total_hijos + i['n_kids']
print(total_hijos)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [55]:
nombres_terminan_en_a = list()
for i in people:
    letra =i['name'][len(i['name'])-1]    
    if letra == 'a':
         i['n_kids'] =  i['n_kids'] +1
    nombres_terminan_en_a.append(i) 
    
print(nombres_terminan_en_a)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]