## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
for word in words:
    print(word)

play
filling
bar
theatre
easygoing
date
lead
that
story
island

**Create a new list containing only words with 5 or more letters**

In [5]:
words_l = []
for word in words:
    if len(word) >= 5:
        words_l.append(word)
print(words_l)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [7]:
for word in words:
    if word.startswith("t"):
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [9]:
square= []
for x in range(10):
    square.append((x +1) ** 2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [18]:
square_o = []
for x in range(10):
    if ((x + 1) % 2) == 1:
        square_o.append((x +1) ** 2)
print(square_o)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [20]:
square_8 = []
for x in range(100):
    if (x + 1) % 8 == 0:
        square_8.append((x +1) ** 2)
print(square_8)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216]

## People

In [42]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [32]:
len(people)

list

**How many people have kids**?

In [26]:
people_k =0
for person in people:
    
    if person['n_kids'] !=0:
        people_k +=1
print(people_k)

4

**How many kids do they have in total?**

In [27]:
kids=0
for person in people:
    kids += person["n_kids"]
print(kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a dictionary with people's info in a year's time**

In [ ]:
people_in_a_year = []
for person in people:
    person["age"] += 1
    if person["name"].endswith("a"):
        person["n_kids"] = person["n_kids"] + 1
    for key,value in person.items():
        person[key]= value
    people_in_a_year.append(person)

In [45]:
people_in_a_year

[{'name': 'Juan', 'age': 36, 'n_kids': 2},
 {'name': 'Pepe', 'age': 29, 'n_kids': 0},
 {'name': 'Sonia', 'age': 43, 'n_kids': 3},
 {'name': 'Lucía', 'age': 24, 'n_kids': 4},
 {'name': 'Leo', 'age': 57, 'n_kids': 5}]

In [ ]:
people_in_a_year_d = {}

for person in people:
    person["age"] += 1
    if person["name"].endswith("a"):
        person["n_kids"] = person["n_kids"] + 1
    for key,value in person.items():
        person[key]= value
    people_in_a_year_d[person["name"]] = person

In [46]:
people_in_a_year_d

{'Juan': {'name': 'Juan', 'age': 36, 'n_kids': 2},
 'Pepe': {'name': 'Pepe', 'age': 29, 'n_kids': 0},
 'Sonia': {'name': 'Sonia', 'age': 43, 'n_kids': 3},
 'Lucía': {'name': 'Lucía', 'age': 24, 'n_kids': 4},
 'Leo': {'name': 'Leo', 'age': 57, 'n_kids': 5}}