## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [5]:
# your code here
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [15]:
# your code here
new_list = []
for word in words:
    if len(word) >= 5:
        new_list.append(word)
print(new_list)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [16]:
# your code here
for word in words:
    if word[0] == 't':
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [19]:
# your code here
squares = []
for n in range(11):
    squares.append(n**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [21]:
# your code here
squares_odd = []
for n in range(11):
    if n % 2 != 0:
        squares_odd.append(n**2)
print(squares_odd)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [32]:
# your code here
multiples_of_8 = []
for n in range(1000):
    if n % 8 == 0:
        multiples_of_8.append(n**2)
print(multiples_of_8)

[0, 64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [82]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [83]:
# your code here
print('There are', len(people), 'people')

There are 5 people

**How many people have kids**?

In [84]:
# your code here
people_with_kids = []
for person in people:
    if person['n_kids'] > 0:
        people_with_kids.append(person)
len(people_with_kids)

4

**How many kids do they have in total?**

In [85]:
# your code here
count = 0
for person in people:
    if person['n_kids'] > 0:
        count += person['n_kids']
print(count)

10

**In a year's time, names ending with "a" will have an extra kid. Create a dictionary with people's info in a year's time**

In [86]:
year_time_list = []

for person in people:
    if person['name'][-1] == 'a':
        person['n_kids'] += 1
        year_time_list.append(person)
    person['age'] += 1
    year_time_list.append(person)
year_time_list

[{'name': 'Juan', 'age': 35, 'n_kids': 2},
 {'name': 'Pepe', 'age': 28, 'n_kids': 0},
 {'name': 'Sonia', 'age': 42, 'n_kids': 2},
 {'name': 'Sonia', 'age': 42, 'n_kids': 2},
 {'name': 'Lucía', 'age': 23, 'n_kids': 3},
 {'name': 'Lucía', 'age': 23, 'n_kids': 3},
 {'name': 'Leo', 'age': 56, 'n_kids': 5}]

# BONUS 2 exercise: If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000.

In [90]:
multiples_below_1k = []
for n in range(1000):
    if n % 3 == 0 or n % 5 == 0:
        multiples_below_1k.append(n)

In [89]:
multiples_below_1k

[0,
 3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99,
 100,
 102,
 105,
 108,
 110,
 111,
 114,
 115,
 117,
 120,
 123,
 125,
 126,
 129,
 130,
 132,
 135,
 138,
 140,
 141,
 144,
 145,
 147,
 150,
 153,
 155,
 156,
 159,
 160,
 162,
 165,
 168,
 170,
 171,
 174,
 175,
 177,
 180,
 183,
 185,
 186,
 189,
 190,
 192,
 195,
 198,
 200,
 201,
 204,
 205,
 207,
 210,
 213,
 215,
 216,
 219,
 220,
 222,
 225,
 228,
 230,
 231,
 234,
 235,
 237,
 240,
 243,
 245,
 246,
 249,
 250,
 252,
 255,
 258,
 260,
 261,
 264,
 265,
 267,
 270,
 273,
 275,
 276,
 279,
 280,
 282,
 285,
 288,
 290,
 291,
 294,
 295,
 297,
 300,
 303,
 305,
 306,
 309,
 310,
 312,
 315,
 318,
 320,
 321,
 324,
 325,
 327,
 330,
 333,
 335,
 336,
 339,
 340,
 342,
 345,
 348,
 350,
 351,
 354,
 355,
 357,
 360,
 363,
 365,
 366,
 369,
 370,
 372,
 375,
 378,
 380,
 381,
 384,
 385,
 387,
 390,
 393,
 395,
 396,
 399,
 400,
 402,
 405,
 408,
 410,
 411,
 414,
 415,
 417,
 420,
 423,
 425,
 426,
 429,
 430,
 432,
 435,
 438,
 440,
 441,
 444,
 445,
 447,
 450,
 453,
 455,
 456,
 459,
 460,
 462,
 465,
 468,
 470,
 471,
 474,
 475,
 477,
 480,
 483,
 485,
 486,
 489,
 490,
 492,
 495,
 498,
 500,
 501,
 504,
 505,
 507,
 510,
 513,
 515,
 516,
 519,
 520,
 522,
 525,
 528,
 530,
 531,
 534,
 535,
 537,
 540,
 543,
 545,
 546,
 549,
 550,
 552,
 555,
 558,
 560,
 561,
 564,
 565,
 567,
 570,
 573,
 575,
 576,
 579,
 580,
 582,
 585,
 588,
 590,
 591,
 594,
 595,
 597,
 600,
 603,
 605,
 606,
 609,
 610,
 612,
 615,
 618,
 620,
 621,
 624,
 625,
 627,
 630,
 633,
 635,
 636,
 639,
 640,
 642,
 645,
 648,
 650,
 651,
 654,
 655,
 657,
 660,
 663,
 665,
 666,
 669,
 670,
 672,
 675,
 678,
 680,
 681,
 684,
 685,
 687,
 690,
 693,
 695,
 696,
 699,
 700,
 702,
 705,
 708,
 710,
 711,
 714,
 715,
 717,
 720,
 723,
 725,
 726,
 729,
 730,
 732,
 735,
 738,
 740,
 741,
 744,
 745,
 747,
 750,
 753,
 755,
 756,
 759,
 760,
 762,
 765,
 768,
 770,
 771,
 774,
 775,
 777,
 780,
 783,
 785,
 786,
 789,
 790,
 792,
 795,
 798,
 800,
 801,
 804,
 805,
 807,
 810,
 813,
 815,
 816,
 819,
 820,
 822,
 825,
 828,
 830,
 831,
 834,
 835,
 837,
 840,
 843,
 845,
 846,
 849,
 850,
 852,
 855,
 858,
 860,
 861,
 864,
 865,
 867,
 870,
 873,
 875,
 876,
 879,
 880,
 882,
 885,
 888,
 890,
 891,
 894,
 895,
 897,
 900,
 903,
 905,
 906,
 909,
 910,
 912,
 915,
 918,
 920,
 921,
 924,
 925,
 927,
 930,
 933,
 935,
 936,
 939,
 940,
 942,
 945,
 948,
 950,
 951,
 954,
 955,
 957,
 960,
 963,
 965,
 966,
 969,
 970,
 972,
 975,
 978,
 980,
 981,
 984,
 985,
 987,
 990,
 993,
 995,
 996,
 999]

In [91]:
total_sum = sum(multiples_below_1k)
total_sum

233168

# Bonus: Create a dictionary only with one key (name) which value is its age

In [108]:
my_dict = dict()

In [109]:
for p in people:
    name = p["name"]
    age = p["age"]
    my_dict[name] = age

In [110]:
my_dict

{'Juan': 35, 'Pepe': 28, 'Sonia': 42, 'Lucía': 23, 'Leo': 56}

In [94]:
lst_names = ['pepe', 'juan', 'pedro']
lst_edad = [23, 45, 33]
for names, edad in zip(lst_names, lst_edad):
    print(edad, '>>' ,names )

23 >> pepe
45 >> juan
33 >> pedro

In [96]:
list_names = []
for person in people:
    list_names.append(person['name'])
list_names

['Juan', 'Pepe', 'Sonia', 'Lucía', 'Leo']

In [97]:
list_edad = []
for person in people:
    list_edad.append(person['age'])
list_edad

[35, 28, 42, 23, 56]

In [105]:
people_and_ages = dict()
for name, edad in zip(list_names, list_edad):
    people_and_ages[name] = edad

In [106]:
people_and_ages

{'Juan': 35, 'Pepe': 28, 'Sonia': 42, 'Lucía': 23, 'Leo': 56}