## Words

In [134]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [135]:
# your code here
[x.upper() for x in words]

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [139]:
# your code here

# Create a new list
words_min_4carac = []

# Recorremos la lista y por cada palabra si tiene una long sup a 4 añadimos la palabra a la nueva lista
for word in words:
    if len(word) > 4:
        words_min_4carac.append(word)

print(words_min_4carac)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [143]:
# your code here
# por cada palabra de la lista buscamos la primera letra que empiece por t y salimos del bucle
for word in words:
    if word[0] == "t":
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [144]:
# your code here

numbers_to_squared = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = [num ** 2 for num in numbers_to_squared]

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [153]:
# your code here
for odd_number in numbers_to_squared:
      
    if odd_number % 2 != 0:
        odd_number_squared = [odd_number ** 2]
        print(odd_number_squared, end = "")

[1][9][25][49][81]

**Create a list with the squares of all multiples of 8 below 1000**

In [26]:
# your code here
squares_multiples_8 = []

for multiples in range(1000):
    if (multiples%8 == 0):
        squares_multiples_8.append(multiples)
        
print (squares_multiples_8)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

## People

In [118]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [154]:
# your code here

count = 0

for persona in people:
    if len(persona["name"]) != 0:
        count += 1

print(count)

5

**How many people have kids**?

In [100]:
# your code here
count = 0

for persona in people:
    n_kids = persona["n_kids"]
    if n_kids != 0:
        count += 1

print(count)

4

**How many kids do they have in total?**

In [101]:
# your code here

count = 0
for gente in people:
    count += gente["n_kids"]

print(count)

10

**In a year's time, names ending with "a" will have an extra kid. Create a dictionary with people's info in a year's time**

In [132]:
# your code here
people_año_siguiente = []

people_año_siguiente.extend(people)

for persons_new in people_año_siguiente:
    nombre = persons_new["name"]
    persons_new["age"] += 1
    
    if nombre[-1] == "a":
        persons_new["n_kids"] += 1
        
print(people_año_siguiente)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 3}, {'name': 'Lucía', 'age': 23, 'n_kids': 4}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]